@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --mainColor: #f5edce;
  --secondaryColor: #89c4e1;
  --thirdColor: #58287f;
  --fourthColor: #c1dae6;
  --textColor: #1a0000;
  --mainText: "Quicksand";
}
* {
  margin: 0;
}
body {
  background-color: var(--mainColor);
  font-family: var(--mainText);
  color: var(--textColor);
}
#page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1.5fr;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#title {
  font-size: 3em;
}
#dashboard-cont {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#btns {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  position: relative;
  transition: 1s ease;
  top: 0;
}
.div-btn {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.div-btn img {
  width: 100%;
  cursor: pointer;
}
.dashboard {
  background-color: var(--thirdColor);
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#dashboard-btn {
  transition: all 0.3s ease;
}
#add-btn {
  transition: all 0.3s ease;
}
.category {
  margin: 0.2em;
  width: 25%;
  height: 80%;
  border: 2px solid var(--secondaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.category img {
  width: 60%;
  height: 60%;
}
.category div {
  font-size: 0.6em;
  color: var(--secondaryColor);
}
